#pattern {
    resize: none;
	font: 18px/1.2 Courier New;
	z-index:1;
	overflow:hidden;
}
#pattern.s{
	width:60px;
	height:90px;
}
#pattern.m{
	width:70px;
	height:110px;
}
#pattern.l{
	width:80px;
	height:130px;
}
.float{
	height:auto;
	width:auto;
	overflow:hidden;
}
.float > div{
	float:left;
}
.grid{
	display: grid;
	grid-auto-rows: min-content;
}
.grid.atts{
	width: 100px;
	grid-template-columns: repeat(5, 20px);
}
.grid.boards{
	
}
.board {
	background-image:url('img/BG.png');
	background-size:80px 80px;
	border:5px solid #1f201f;
	margin: 5px;
	overflow:hidden;
}
.board.size-s {
	width:200px;
	height:160px;
}
.board.size-m {
	width:240px;
	height:200px;
}
.board.size-half {
	width:120px;
	height:200px;
}
.board.size-l {
	width:280px;
	height:240px;
}
.orb {
	margin: 0px;
    display: block;
    float: left;
    background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
    z-index: 1;
    position: relative;
	width:40px;
	height:40px;
}
.orb-bg{
	margin: 0px;
    background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
    z-index: 1;
    position: relative;
	text-shadow: 1px 1px 0px #ffffff;
	min-width:20px;
	min-height:20px;
}
.border-box{
	text-align:center;
	display: inline-block;
	width:auto;
	height:auto;
	overflow:hidden;
	margin: 1px;
	border: 1px solid #000000;
}
.R {
	background-image: url('img/R.png');
}
.B {
	background-image: url('img/B.png');
}
.G {
	background-image: url('img/G.png');
}
.L {
	background-image: url('img/L.png');
}
.D {
	background-image: url('img/D.png');
}
.H {
	background-image: url('img/H.png');
}
.J {
	background-image: url('img/J.png');
}
.P {
	background-image: url('img/P.png');
}
.M {
	background-image: url('img/M.png');
}
.X {
	background-image: url('img/X.png');
}