.flash{
	animation: flash linear 2s;
}
@keyframes flash {
	0% { opacity: 0; } 
	90% { opacity: 1; } 
	100% { opacity: 0; }
}

#rem-box{
	display: block;
	width:512px;
	height:512px;
	background-image: url("./assets/BG_0.PNG");
    background-size: 100% 100%;
	background-repeat: no-repeat;
}
#rem-egg{
	display: block;
	width:512px;
	height:512px;
	position: absolute;
}
#rem-egg-flash{
	display: block;
	width:512px;
	height:512px;
	position: absolute;
	opacity: 0;
	background-color:white;
	z-index:3;
}
#rem-egg-icon{
	position: relative;
	float:left;
	top:270px;
	left:235px;
	z-index:2;
}
#roll-rem{
	display: block;
	width:512px;
	height:512px;
	position: absolute;
	z-index:999;
}
#roll-result{
	max-width:100%;
	max-height:100%;
	position: relative;
	top: 60px;
	z-index:1;
}
#roll-result-list{
	width:512px;
	height:512px;
	overflow-y: scroll;
}
#roll-result-list::-webkit-scrollbar {
    width: 12px;
}

#roll-result-list > *{
	display: block;
	float: left;
}
.left{
	float: left;
}